# If NPM crashes, it generates a log, let's ignore it too.
npm-debug.log
yarn-error.log

# The directory NPM downloads your dependencies sources to.
node_modules/

## ENV
/.env

# OS FILES
.DS_STORE
desktop.ini
